<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
	<default>
        <featuredproduct>
			<featuredproduct_config>
				<enabled>1</enabled>
				<title>Featured</title>
				<auto>0</auto>
				<speed>1500</speed>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<addtowishlist>1</addtowishlist>
				<addtocompare>1</addtocompare>
				<review>1</review>
				<description>0</description>
				<maxlength>50</maxlength>
				<qty>8</qty>
				<row_show>1</row_show>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</featuredproduct_config>
		</featuredproduct>
	</default>
</config>
