<div class="mgz-block">
	<div ng-if="element.title || element.description" class="mgz-block-heading mgz-block-heading-align-{{ element.title_align }} {{ element.show_line ? 'mgz-block-heading-line' : '' }}">
		<div ng-bind-html="getTitleHtml()"></div>
		<p class="info" ng-if="element.description" ng-bind-html="element.description"></p>
	</div>
	<div class="mgz-block-content">
		<div uib-accordion close-others="false" class="mgz-element-list-inner" ng-class="{'mgz-empty-component': !element.elements || element.elements.length==0}">
			<i class="mgz-icon mgz-icon-add" ng-if="element.elements.length==0" ng-click="addChildComponent(element)"></i>
			<div magezon-builder-component-list element="element" parentElement="parentElement"></div>
		</div>
	</div>
</div>