<?xml version="1.0"?>
<!--
/**
 * Copyright © Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="subscribeConfig" xsi:type="object">Mageside\SubscribeAtCheckout\Model\Config\Source\SubscribeLayoutProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
