# 2020-04-05 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/README.md
!app/code/**/*
/update/
# 2020-04-05 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "Serve Magento from the `/shop` path": https://github.com/vegandthecity/magento/issues/1
!setup/view/layout/layout.phtml
dev
vendor/codeception
vendor/magento/framework/Test
vendor/magento/magento2-base
vendor/magento/magento2-functional-testing-framework
vendor/mpdf
vendor/tubalmartin