# 2020-04-05 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/README.md
!/app/code/**/*
!/app/etc/config.php
/update/
# 2020-04-06 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "Disable the `Vertex_Tax` crapware": https://github.com/vegandthecity/magento/issues/4
!/setup/view/layout/layout.phtml
# 2020-04-23 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "How to fix the «Invalid template file» / «require_js.phtml» failure of Magento 2.3.x in Windows?"
# https://mage2.pro/t/5774
!/vendor/magento/framework/View/Element/Template/File/Validator.php
# 2020-04-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Argument 1 passed to Magento\Elasticsearch\Model\Adapter\FieldMapper\Product\AttributeProvider::getByAttributeCode()
# must be of the type string, null given,
# called in vendor/magento/module-elasticsearch/SearchAdapter/Query/Builder/Sort.php on line 92»
# https://github.com/vegandthecity/magento/issues/19
!/vendor/magento/module-elasticsearch/SearchAdapter/Query/Builder/Sort.php
/dev
/vendor/codeception
/vendor/magento/framework/Test
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/mpdf
/vendor/tubalmartin