# 2020-04-05 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/README.md
!/app/code/**/*
# 2020-05-07 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# [Mageplaza_LayeredNavigation] «Sorry, something went wrong. You can find out more in the error log.»:
# https://github.com/vegandthecity/magento/issues/34
!/app/code/Mageplaza/LayeredNavigation/Model/ResourceModel/Fulltext/Collection.php
# 2020-04-24 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "Add the `tv_themevast_package` design package to the source control":
# https://github.com/vegandthecity/magento/issues/24
!/app/design/frontend/tv_themevast_package/**/*
!/app/etc/config.php
/update/
# 2020-04-05 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "Serve Magento from the `/shop` path": https://github.com/vegandthecity/magento/issues/1
!/setup/view/layout/layout.phtml
# 2020-05-07 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Unique constraint violation found»: https://github.com/vegandthecity/magento/issues/32
!/vendor/magento/framework/EntityManager/EntityManager.php
# 2020-05-08 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«DOMDocument::loadHTML(): Tag date invalid in Entity, line: 1 at vendor/magento/framework/Escaper.php:89»":
# https://github.com/vegandthecity/magento/issues/41
!/vendor/magento/framework/Escaper.php
# 2020-05-08 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «SessionHandler::read(): The session id is too long or contains illegal characters,
# valid characters are a-z, A-Z, 0-9 and '-,'
# in vendor/magento/framework/Session/SaveHandler/Native.php on line 22»:
# https://github.com/vegandthecity/magento/issues/39
!/vendor/magento/framework/Session/SaveHandler/Native.php
# 2020-04-23 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "How to fix the «Invalid template file» / «require_js.phtml» failure of Magento 2.3.x in Windows?"
# https://mage2.pro/t/5774
!/vendor/magento/framework/View/Element/Template/File/Validator.php
# 2020-05-08 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «SQLSTATE[42000]: Syntax error or access violation:
# 1139 Got error 'repetition-operator operand invalid' from regexp <…>»
# at vendor/magento/framework/Webapi/ErrorProcessor.php:208
# https://github.com/vegandthecity/magento/issues/40
!/vendor/magento/framework/Webapi/ErrorProcessor.php
# 2020-05-07 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«Update of the subscription for MBI service has been failed: Not authorized.. Content-Type: text/plain;charset=UTF-8»":
# https://github.com/vegandthecity/magento/issues/14
!/vendor/magento/module-analytics/Model/Connector/UpdateCommand.php
# 2020-05-07 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «No cache server(s) could be purged»: https://github.com/vegandthecity/magento/issues/30
!/vendor/magento/module-cache-invalidate/Model/PurgeCache.php
# 2020-05-07 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Argument 1 passed to Magento\Catalog\Model\Category\FileInfo::removeStorePath()
# must be of the type string, array given,
# called in vendor/magento/module-catalog/Model/Category/FileInfo.php on line 167»:
# https://github.com/vegandthecity/magento/issues/33
!/vendor/magento/module-catalog/Model/Category/FileInfo.php
# 2020-05-07 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «The category doesn't contain the specified product» / «Die Kategorie enthält nicht das angegebene Produkt»:
# https://github.com/vegandthecity/magento/issues/28
!/vendor/magento/module-catalog/Model/CategoryLinkRepository.php
# 2020-04-11 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Argument 1 passed to Magento\Elasticsearch\Model\Adapter\FieldMapper\Product\AttributeProvider::getByAttributeCode()
# must be of the type string, null given,
# called in vendor/magento/module-elasticsearch/SearchAdapter/Query/Builder/Sort.php on line 92»
# https://github.com/vegandthecity/magento/issues/19
!/vendor/magento/module-elasticsearch/SearchAdapter/Query/Builder/Sort.php
# 2020-05-07 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «PayPal Express Checkout Token does not exist» / «PayPal Express Checkout Token existiert nicht»:
# https://github.com/vegandthecity/magento/issues/36
!/vendor/magento/module-paypal/Controller/Express/AbstractExpress.php
# 2020-05-07 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «We can't initialize Express Checkout» / «Wir konnten die Express-Kaufabwicklung nicht initialisieren»:
# https://github.com/vegandthecity/magento/issues/35
!/vendor/magento/module-paypal/Controller/Express/AbstractExpress/Review.php
# 2020-05-07 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Environment emulation nesting is not allowed» / «Environment Emulation Nesting ist nicht erlaubt»:
# https://github.com/vegandthecity/magento/issues/31
!/vendor/magento/module-store/Model/App/Emulation.php
# 2020-05-08 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Unable to send mail: Unknown error»: https://github.com/vegandthecity/magento/issues/38
!/vendor/zendframework/zend-mail/src/Transport/Sendmail.php
/dev
/vendor/codeception
/vendor/magento/framework/Test
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/mpdf
/vendor/tubalmartin