<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Themevast_Themevast::themevast" title="Themevast : Role" sortOrder="10">
	        	    <resource id="Themevast_ThemevastUp::themebackup" title="Themevast:Theme Data Backup" sortOrder="120">
						<resource id="Themevast_ThemevastUp::themebackup_import" title="Themevast:Import Data" />
						<resource id="Themevast_ThemevastUp::themebackup_export" title="Themevast:Export Data" />
	        	    </resource>
	        	</resource>
            </resource>
        </resources>
    </acl>
</config>
