<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Themevast. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="themevast" translate="label" sortOrder="400">
            <label>Themevast</label>
        </tab>
		<section id="themevast_megamenu" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Mega Menu Pro</label>
            <tab>themevast</tab>
            <resource>Themevast_MegaMenu::settings</resource>
			<group id="general" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
				<field id="disable_default_menu" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable default menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="used_megamenu" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Use mega menu</label>
                    <source_model>Themevast\MegaMenu\Model\Choosemenu</source_model>
                </field>
				<field id="active_rtl" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Active right to left mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
			</group>
		</section>
	 </system>
</config>