<?xml version="1.0"?>
<!--
/**
 * Copyright © Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageside_all" translate="label" sortOrder="50">
            <label>Mageside</label>
        </tab>
        <section id="mageside_subscribeatcheckout" translate="label" type="text" sortOrder="1950" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Subscribe At Checkout</label>
            <tab>mageside_all</tab>
            <resource>Mageside_SubscribeAtCheckout::config_mageside_subscribeatcheckout</resource>
            <group id="hint" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>Mageside\SubscribeAtCheckout\Block\Adminhtml\System\Config\Fieldset\Hint</frontend_model>
            </group>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="checkout_subscribe" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscribe At Checkout</label>
                    <source_model>Mageside\SubscribeAtCheckout\Model\Config\Source\CheckoutSubscribe</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="checkout_label" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscribe Checkout Label</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="send_request_email" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Confirmation Request Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="send_success_email" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Confirmation Success Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
