<?xml version="1.0"?>
<!--
/**
 * Copyright © Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save-newsletter-subscribe-in-quote" type="Mageside\SubscribeAtCheckout\Model\Plugin\Checkout\ShippingInformationManagement" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="save-newsletter-subscribe-in-quote" type="Mageside\SubscribeAtCheckout\Model\Plugin\Checkout\ShippingInformationManagement" sortOrder="10"/>
    </type>
    <virtualType name="MagesideSubscribeAtCheckoutModelSubscriber" type="Magento\Newsletter\Model\Subscriber">
        <arguments>
            <argument name="scopeConfig" xsi:type="object">Mageside\SubscribeAtCheckout\Model\App\Config</argument>
        </arguments>
    </virtualType>
    <type name="Mageside\SubscribeAtCheckout\Observer\OnSalesModelServiceQuoteSubmitSuccess">
        <arguments>
            <argument name="subscriber" xsi:type="object">MagesideSubscribeAtCheckoutModelSubscriber</argument>
        </arguments>
    </type>
</config>
