<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
			<matrixrate>
                <active>0</active>
                <title>Matrix Rates</title>
                <sort_order>100</sort_order>
                <sallowspecific>0</sallowspecific>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <model>Meetanshi\Matrixrate\Model\Carrier\MatrixRate</model>
                <allow_free_shipping>1</allow_free_shipping>
                <allow_numeric_zip>1</allow_numeric_zip>
                <ignore_virtual>1</ignore_virtual>
                <after_discount>0</after_discount>
                <including_tax>0</including_tax>
                <dont_split>0</dont_split>
                <showmethod>0</showmethod>
            </matrixrate>
		</carriers>
    </default>
</config>
