<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
		<add id="Themevast_Categorytab::categorytab" title="CategoryTab Config" module="Themevast_Categorytab" sortOrder="2" parent="Themevast_Themevast::themevast_setting" resource="Themevast_Categorytab::categorytab" action="adminhtml/system_config/edit/section/categorytab" />
    </menu>
</config>
