<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Themevast_Featuredpro::themevast_featuredpro" title="Featured Product" module="Themevast_Featuredpro" sortOrder="0" parent="Themevast_Themevast::themevast_setting" resource="Themevast_Featuredpro::themevast_featuredpro" action="adminhtml/system_config/edit/section/featuredproduct" />
    </menu>
</config>
