#newsletter_pop_up {
background-color: #FFFFFF;
color: #FFFFFF;
display: none;
height: 339px;
margin: -195px 0 0 !important;
min-width: 450px;
padding: 25px;
top: 50% !important;
width:600px;
position: fixed !important
}
 .button.b-close, .button.bClose {
font: bold 131% sans-serif;
padding: 10px 9px 2px;
position: absolute;
right: 0;
top: 0;
}
#newsletter_pop_up .b-close span:hover{color: #000}
#newsletter_pop_up>.subscribe{
	width:90%;float: right;padding-right: 50px
}
.button {
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}
.title_subscribe>h1{
font-size: 30px;
font-weight: normal;
margin-top: 80px;
text-transform: uppercase;
font-family:BebasNeuewebfont;
line-height: 30px;
text-align: right;
margin-bottom: 0;
color: #f3f3f4;
letter-spacing: 3px
}
.form-subscribe-header label{font-size: 13px;font-weight: normal;text-align: right;line-height:20px;margin: 8px 0;font-family: arial}
#newsletter_subscribe{
margin: 0 0 20px;
width:380px;
height: 40px;
line-height: 40px;
padding-left: 10px;
float: right;
}
#newsletter_pop_up .button_subscribe{
background-color: #ff9600;
color: #fff;
padding: 10px 20px;
border: none;
font-size: 14px;
text-transform: uppercase;
}
#newsletter_pop_up .button_subscribe:hover{background: #C73C3C}
#advice-required-entry-newsletter{
	font-size: 12px;
	margin: -10px auto 15px;
	width: 130px;
	display:none;
}
#newsletter_pop_up .actions{text-align: right;}