.tv-menu *,
.tv-menu :after,
.tv-menu :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .tv-menu .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .tv-menu .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .tv-menu .container {
    width: 1200px;
  }
}
.tv-menu .row {
  margin-left: 0px;
  margin-right: 0px;
}
.tv-menu .col-lg-1,
.tv-menu .col-lg-10,
.tv-menu .col-lg-11,
.tv-menu .col-lg-12,
.tv-menu .col-lg-13,
.tv-menu .col-lg-14,
.tv-menu .col-lg-15,
.tv-menu .col-lg-16,
.tv-menu .col-lg-17,
.tv-menu .col-lg-18,
.tv-menu .col-lg-19,
.tv-menu .col-lg-2,
.tv-menu .col-lg-20,
.tv-menu .col-lg-21,
.tv-menu .col-lg-22,
.tv-menu .col-lg-23,
.tv-menu .col-lg-24,
.tv-menu .col-lg-3,
.tv-menu .col-lg-4,
.tv-menu .col-lg-5,
.tv-menu .col-lg-6,
.tv-menu .col-lg-7,
.tv-menu .col-lg-8,
.tv-menu .col-lg-9,
.tv-menu .col-md-1,
.tv-menu .col-md-10,
.tv-menu .col-md-11,
.tv-menu .col-md-12,
.tv-menu .col-md-13,
.tv-menu .col-md-14,
.tv-menu .col-md-15,
.tv-menu .col-md-16,
.tv-menu .col-md-17,
.tv-menu .col-md-18,
.tv-menu .col-md-19,
.tv-menu .col-md-2,
.tv-menu .col-md-20,
.tv-menu .col-md-21,
.tv-menu .col-md-22,
.tv-menu .col-md-23,
.tv-menu .col-md-24,
.tv-menu .col-md-3,
.tv-menu .col-md-4,
.tv-menu .col-md-5,
.tv-menu .col-md-6,
.tv-menu .col-md-7,
.tv-menu .col-md-8,
.tv-menu .col-md-9,
.tv-menu .col-sm-1,
.tv-menu .col-sm-10,
.tv-menu .col-sm-11,
.tv-menu .col-sm-12,
.tv-menu .col-sm-13,
.tv-menu .col-sm-14,
.tv-menu .col-sm-15,
.tv-menu .col-sm-16,
.tv-menu .col-sm-17,
.tv-menu .col-sm-18,
.tv-menu .col-sm-19,
.tv-menu .col-sm-2,
.tv-menu .col-sm-20,
.tv-menu .col-sm-21,
.tv-menu .col-sm-22,
.tv-menu .col-sm-23,
.tv-menu .col-sm-24,
.tv-menu .col-sm-3,
.tv-menu .col-sm-4,
.tv-menu .col-sm-5,
.tv-menu .col-sm-6,
.tv-menu .col-sm-7,
.tv-menu .col-sm-8,
.tv-menu .col-sm-9,
.tv-menu .col-xs-1,
.tv-menu .col-xs-10,
.tv-menu .col-xs-11,
.tv-menu .col-xs-12,
.tv-menu .col-xs-13,
.tv-menu .col-xs-14,
.tv-menu .col-xs-15,
.tv-menu .col-xs-16,
.tv-menu .col-xs-17,
.tv-menu .col-xs-18,
.tv-menu .col-xs-19,
.tv-menu .col-xs-2,
.tv-menu .col-xs-20,
.tv-menu .col-xs-21,
.tv-menu .col-xs-22,
.tv-menu .col-xs-23,
.tv-menu .col-xs-24,
.tv-menu .col-xs-3,
.tv-menu .col-xs-4,
.tv-menu .col-xs-5,
.tv-menu .col-xs-6,
.tv-menu .col-xs-7,
.tv-menu .col-xs-8,
.tv-menu .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.tv-menu .col-xs-1,
.tv-menu .col-xs-10,
.tv-menu .col-xs-11,
.tv-menu .col-xs-12,
.tv-menu .col-xs-13,
.tv-menu .col-xs-14,
.tv-menu .col-xs-15,
.tv-menu .col-xs-16,
.tv-menu .col-xs-17,
.tv-menu .col-xs-18,
.tv-menu .col-xs-19,
.tv-menu .col-xs-2,
.tv-menu .col-xs-20,
.tv-menu .col-xs-21,
.tv-menu .col-xs-22,
.tv-menu .col-xs-23,
.tv-menu .col-xs-24,
.tv-menu .col-xs-3,
.tv-menu .col-xs-4,
.tv-menu .col-xs-5,
.tv-menu .col-xs-6,
.tv-menu .col-xs-7,
.tv-menu .col-xs-8,
.tv-menu .col-xs-9 {
  float: left;
}
.tv-menu .col-xs-24 {
  width: 100%;
}
.tv-menu .col-xs-23 {
  width: 95.83333333%;
}
.tv-menu .col-xs-22 {
  width: 91.66666667%;
}
.tv-menu .col-xs-21 {
  width: 87.5%;
}
.tv-menu .col-xs-20 {
  width: 83.33333333%;
}
.tv-menu .col-xs-19 {
  width: 79.16666667%;
}
.tv-menu .col-xs-18 {
  width: 75%;
}
.tv-menu .col-xs-17 {
  width: 70.83333333%;
}
.tv-menu .col-xs-16 {
  width: 66.66666667%;
}
.tv-menu .col-xs-15 {
  width: 62.5%;
}
.tv-menu .col-xs-14 {
  width: 58.33333333%;
}
.tv-menu .col-xs-13 {
  width: 54.16666667%;
}
.tv-menu .col-xs-12 {
  width: 50%;
}
.tv-menu .col-xs-11 {
  width: 45.83333333%;
}
.tv-menu .col-xs-10 {
  width: 41.66666667%;
}
.tv-menu .col-xs-9 {
  width: 37.5%;
}
.tv-menu .col-xs-8 {
  width: 33.33333333%;
}
.tv-menu .col-xs-7 {
  width: 29.16666667%;
}
.tv-menu .col-xs-6 {
  width: 25%;
}
.tv-menu .col-xs-5 {
  width: 20.83333333%;
}
.tv-menu .col-xs-4 {
  width: 16.66666667%;
}
.tv-menu .col-xs-3 {
  width: 12.5%;
}
.tv-menu .col-xs-2 {
  width: 8.33333333%;
}
.tv-menu .col-xs-1 {
  width: 4.16666667%;
}
.tv-menu .col-xs-pull-24 {
  right: 100%;
}
.tv-menu .col-xs-pull-23 {
  right: 95.83333333%;
}
.tv-menu .col-xs-pull-22 {
  right: 91.66666667%;
}
.tv-menu .col-xs-pull-21 {
  right: 87.5%;
}
.tv-menu .col-xs-pull-20 {
  right: 83.33333333%;
}
.tv-menu .col-xs-pull-19 {
  right: 79.16666667%;
}
.tv-menu .col-xs-pull-18 {
  right: 75%;
}
.tv-menu .col-xs-pull-17 {
  right: 70.83333333%;
}
.tv-menu .col-xs-pull-16 {
  right: 66.66666667%;
}
.tv-menu .col-xs-pull-15 {
  right: 62.5%;
}
.tv-menu .col-xs-pull-14 {
  right: 58.33333333%;
}
.tv-menu .col-xs-pull-13 {
  right: 54.16666667%;
}
.tv-menu .col-xs-pull-12 {
  right: 50%;
}
.tv-menu .col-xs-pull-11 {
  right: 45.83333333%;
}
.tv-menu .col-xs-pull-10 {
  right: 41.66666667%;
}
.tv-menu .col-xs-pull-9 {
  right: 37.5%;
}
.tv-menu .col-xs-pull-8 {
  right: 33.33333333%;
}
.tv-menu .col-xs-pull-7 {
  right: 29.16666667%;
}
.tv-menu .col-xs-pull-6 {
  right: 25%;
}
.tv-menu .col-xs-pull-5 {
  right: 20.83333333%;
}
.tv-menu .col-xs-pull-4 {
  right: 16.66666667%;
}
.tv-menu .col-xs-pull-3 {
  right: 12.5%;
}
.tv-menu .col-xs-pull-2 {
  right: 8.33333333%;
}
.tv-menu .col-xs-pull-1 {
  right: 4.16666667%;
}
.tv-menu .col-xs-pull-0 {
  right: auto;
}
.tv-menu .col-xs-push-24 {
  left: 100%;
}
.tv-menu .col-xs-push-23 {
  left: 95.83333333%;
}
.tv-menu .col-xs-push-22 {
  left: 91.66666667%;
}
.tv-menu .col-xs-push-21 {
  left: 87.5%;
}
.tv-menu .col-xs-push-20 {
  left: 83.33333333%;
}
.tv-menu .col-xs-push-19 {
  left: 79.16666667%;
}
.tv-menu .col-xs-push-18 {
  left: 75%;
}
.tv-menu .col-xs-push-17 {
  left: 70.83333333%;
}
.tv-menu .col-xs-push-16 {
  left: 66.66666667%;
}
.tv-menu .col-xs-push-15 {
  left: 62.5%;
}
.tv-menu .col-xs-push-14 {
  left: 58.33333333%;
}
.tv-menu .col-xs-push-13 {
  left: 54.16666667%;
}
.tv-menu .col-xs-push-12 {
  left: 50%;
}
.tv-menu .col-xs-push-11 {
  left: 45.83333333%;
}
.tv-menu .col-xs-push-10 {
  left: 41.66666667%;
}
.tv-menu .col-xs-push-9 {
  left: 37.5%;
}
.tv-menu .col-xs-push-8 {
  left: 33.33333333%;
}
.tv-menu .col-xs-push-7 {
  left: 29.16666667%;
}
.tv-menu .col-xs-push-6 {
  left: 25%;
}
.tv-menu .col-xs-push-5 {
  left: 20.83333333%;
}
.tv-menu .col-xs-push-4 {
  left: 16.66666667%;
}
.tv-menu .col-xs-push-3 {
  left: 12.5%;
}
.tv-menu .col-xs-push-2 {
  left: 8.33333333%;
}
.tv-menu .col-xs-push-1 {
  left: 4.16666667%;
}
.tv-menu .col-xs-push-0 {
  left: auto;
}
.tv-menu .col-xs-offset-24 {
  margin-left: 100%;
}
.tv-menu .col-xs-offset-23 {
  margin-left: 95.83333333%;
}
.tv-menu .col-xs-offset-22 {
  margin-left: 91.66666667%;
}
.tv-menu .col-xs-offset-21 {
  margin-left: 87.5%;
}
.tv-menu .col-xs-offset-20 {
  margin-left: 83.33333333%;
}
.tv-menu .col-xs-offset-19 {
  margin-left: 79.16666667%;
}
.tv-menu .col-xs-offset-18 {
  margin-left: 75%;
}
.tv-menu .col-xs-offset-17 {
  margin-left: 70.83333333%;
}
.tv-menu .col-xs-offset-16 {
  margin-left: 66.66666667%;
}
.tv-menu .col-xs-offset-15 {
  margin-left: 62.5%;
}
.tv-menu .col-xs-offset-14 {
  margin-left: 58.33333333%;
}
.tv-menu .col-xs-offset-13 {
  margin-left: 54.16666667%;
}
.tv-menu .col-xs-offset-12 {
  margin-left: 50%;
}
.tv-menu .col-xs-offset-11 {
  margin-left: 45.83333333%;
}
.tv-menu .col-xs-offset-10 {
  margin-left: 41.66666667%;
}
.tv-menu .col-xs-offset-9 {
  margin-left: 37.5%;
}
.tv-menu .col-xs-offset-8 {
  margin-left: 33.33333333%;
}
.tv-menu .col-xs-offset-7 {
  margin-left: 29.16666667%;
}
.tv-menu .col-xs-offset-6 {
  margin-left: 25%;
}
.tv-menu .col-xs-offset-5 {
  margin-left: 20.83333333%;
}
.tv-menu .col-xs-offset-4 {
  margin-left: 16.66666667%;
}
.tv-menu .col-xs-offset-3 {
  margin-left: 12.5%;
}
.tv-menu .col-xs-offset-2 {
  margin-left: 8.33333333%;
}
.tv-menu .col-xs-offset-1 {
  margin-left: 4.16666667%;
}
.tv-menu .col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .tv-menu .col-sm-1,
  .tv-menu .col-sm-10,
  .tv-menu .col-sm-11,
  .tv-menu .col-sm-12,
  .tv-menu .col-sm-13,
  .tv-menu .col-sm-14,
  .tv-menu .col-sm-15,
  .tv-menu .col-sm-16,
  .tv-menu .col-sm-17,
  .tv-menu .col-sm-18,
  .tv-menu .col-sm-19,
  .tv-menu .col-sm-2,
  .tv-menu .col-sm-20,
  .tv-menu .col-sm-21,
  .tv-menu .col-sm-22,
  .tv-menu .col-sm-23,
  .tv-menu .col-sm-24,
  .tv-menu .col-sm-3,
  .tv-menu .col-sm-4,
  .tv-menu .col-sm-5,
  .tv-menu .col-sm-6,
  .tv-menu .col-sm-7,
  .tv-menu .col-sm-8,
  .tv-menu .col-sm-9 {
    float: left;
  }
  .tv-menu .col-sm-24 {
    width: 100%;
  }
  .tv-menu .col-sm-23 {
    width: 95.83333333%;
  }
  .tv-menu .col-sm-22 {
    width: 91.66666667%;
  }
  .tv-menu .col-sm-21 {
    width: 87.5%;
  }
  .tv-menu .col-sm-20 {
    width: 83.33333333%;
  }
  .tv-menu .col-sm-19 {
    width: 79.16666667%;
  }
  .tv-menu .col-sm-18 {
    width: 75%;
  }
  .tv-menu .col-sm-17 {
    width: 70.83333333%;
  }
  .tv-menu .col-sm-16 {
    width: 66.66666667%;
  }
  .tv-menu .col-sm-15 {
    width: 62.5%;
  }
  .tv-menu .col-sm-14 {
    width: 58.33333333%;
  }
  .tv-menu .col-sm-13 {
    width: 54.16666667%;
  }
  .tv-menu .col-sm-12 {
    width: 50%;
  }
  .tv-menu .col-sm-11 {
    width: 45.83333333%;
  }
  .tv-menu .col-sm-10 {
    width: 41.66666667%;
  }
  .tv-menu .col-sm-9 {
    width: 37.5%;
  }
  .tv-menu .col-sm-8 {
    width: 33.33333333%;
  }
  .tv-menu .col-sm-7 {
    width: 29.16666667%;
  }
  .tv-menu .col-sm-6 {
    width: 25%;
  }
  .tv-menu .col-sm-5 {
    width: 20.83333333%;
  }
  .tv-menu .col-sm-4 {
    width: 16.66666667%;
  }
  .tv-menu .col-sm-3 {
    width: 12.5%;
  }
  .tv-menu .col-sm-2 {
    width: 8.33333333%;
  }
  .tv-menu .col-sm-1 {
    width: 4.16666667%;
  }
  .tv-menu .col-sm-pull-24 {
    right: 100%;
  }
  .tv-menu .col-sm-pull-23 {
    right: 95.83333333%;
  }
  .tv-menu .col-sm-pull-22 {
    right: 91.66666667%;
  }
  .tv-menu .col-sm-pull-21 {
    right: 87.5%;
  }
  .tv-menu .col-sm-pull-20 {
    right: 83.33333333%;
  }
  .tv-menu .col-sm-pull-19 {
    right: 79.16666667%;
  }
  .tv-menu .col-sm-pull-18 {
    right: 75%;
  }
  .tv-menu .col-sm-pull-17 {
    right: 70.83333333%;
  }
  .tv-menu .col-sm-pull-16 {
    right: 66.66666667%;
  }
  .tv-menu .col-sm-pull-15 {
    right: 62.5%;
  }
  .tv-menu .col-sm-pull-14 {
    right: 58.33333333%;
  }
  .tv-menu .col-sm-pull-13 {
    right: 54.16666667%;
  }
  .tv-menu .col-sm-pull-12 {
    right: 50%;
  }
  .tv-menu .col-sm-pull-11 {
    right: 45.83333333%;
  }
  .tv-menu .col-sm-pull-10 {
    right: 41.66666667%;
  }
  .tv-menu .col-sm-pull-9 {
    right: 37.5%;
  }
  .tv-menu .col-sm-pull-8 {
    right: 33.33333333%;
  }
  .tv-menu .col-sm-pull-7 {
    right: 29.16666667%;
  }
  .tv-menu .col-sm-pull-6 {
    right: 25%;
  }
  .tv-menu .col-sm-pull-5 {
    right: 20.83333333%;
  }
  .tv-menu .col-sm-pull-4 {
    right: 16.66666667%;
  }
  .tv-menu .col-sm-pull-3 {
    right: 12.5%;
  }
  .tv-menu .col-sm-pull-2 {
    right: 8.33333333%;
  }
  .tv-menu .col-sm-pull-1 {
    right: 4.16666667%;
  }
  .tv-menu .col-sm-pull-0 {
    right: auto;
  }
  .tv-menu .col-sm-push-24 {
    left: 100%;
  }
  .tv-menu .col-sm-push-23 {
    left: 95.83333333%;
  }
  .tv-menu .col-sm-push-22 {
    left: 91.66666667%;
  }
  .tv-menu .col-sm-push-21 {
    left: 87.5%;
  }
  .tv-menu .col-sm-push-20 {
    left: 83.33333333%;
  }
  .tv-menu .col-sm-push-19 {
    left: 79.16666667%;
  }
  .tv-menu .col-sm-push-18 {
    left: 75%;
  }
  .tv-menu .col-sm-push-17 {
    left: 70.83333333%;
  }
  .tv-menu .col-sm-push-16 {
    left: 66.66666667%;
  }
  .tv-menu .col-sm-push-15 {
    left: 62.5%;
  }
  .tv-menu .col-sm-push-14 {
    left: 58.33333333%;
  }
  .tv-menu .col-sm-push-13 {
    left: 54.16666667%;
  }
  .tv-menu .col-sm-push-12 {
    left: 50%;
  }
  .tv-menu .col-sm-push-11 {
    left: 45.83333333%;
  }
  .tv-menu .col-sm-push-10 {
    left: 41.66666667%;
  }
  .tv-menu .col-sm-push-9 {
    left: 37.5%;
  }
  .tv-menu .col-sm-push-8 {
    left: 33.33333333%;
  }
  .tv-menu .col-sm-push-7 {
    left: 29.16666667%;
  }
  .tv-menu .col-sm-push-6 {
    left: 25%;
  }
  .tv-menu .col-sm-push-5 {
    left: 20.83333333%;
  }
  .tv-menu .col-sm-push-4 {
    left: 16.66666667%;
  }
  .tv-menu .col-sm-push-3 {
    left: 12.5%;
  }
  .tv-menu .col-sm-push-2 {
    left: 8.33333333%;
  }
  .tv-menu .col-sm-push-1 {
    left: 4.16666667%;
  }
  .tv-menu .col-sm-push-0 {
    left: auto;
  }
  .tv-menu .col-sm-offset-24 {
    margin-left: 100%;
  }
  .tv-menu .col-sm-offset-23 {
    margin-left: 95.83333333%;
  }
  .tv-menu .col-sm-offset-22 {
    margin-left: 91.66666667%;
  }
  .tv-menu .col-sm-offset-21 {
    margin-left: 87.5%;
  }
  .tv-menu .col-sm-offset-20 {
    margin-left: 83.33333333%;
  }
  .tv-menu .col-sm-offset-19 {
    margin-left: 79.16666667%;
  }
  .tv-menu .col-sm-offset-18 {
    margin-left: 75%;
  }
  .tv-menu .col-sm-offset-17 {
    margin-left: 70.83333333%;
  }
  .tv-menu .col-sm-offset-16 {
    margin-left: 66.66666667%;
  }
  .tv-menu .col-sm-offset-15 {
    margin-left: 62.5%;
  }
  .tv-menu .col-sm-offset-14 {
    margin-left: 58.33333333%;
  }
  .tv-menu .col-sm-offset-13 {
    margin-left: 54.16666667%;
  }
  .tv-menu .col-sm-offset-12 {
    margin-left: 50%;
  }
  .tv-menu .col-sm-offset-11 {
    margin-left: 45.83333333%;
  }
  .tv-menu .col-sm-offset-10 {
    margin-left: 41.66666667%;
  }
  .tv-menu .col-sm-offset-9 {
    margin-left: 37.5%;
  }
  .tv-menu .col-sm-offset-8 {
    margin-left: 33.33333333%;
  }
  .tv-menu .col-sm-offset-7 {
    margin-left: 29.16666667%;
  }
  .tv-menu .col-sm-offset-6 {
    margin-left: 25%;
  }
  .tv-menu .col-sm-offset-5 {
    margin-left: 20.83333333%;
  }
  .tv-menu .col-sm-offset-4 {
    margin-left: 16.66666667%;
  }
  .tv-menu .col-sm-offset-3 {
    margin-left: 12.5%;
  }
  .tv-menu .col-sm-offset-2 {
    margin-left: 8.33333333%;
  }
  .tv-menu .col-sm-offset-1 {
    margin-left: 4.16666667%;
  }
  .tv-menu .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .tv-menu .col-md-1,
  .tv-menu .col-md-10,
  .tv-menu .col-md-11,
  .tv-menu .col-md-12,
  .tv-menu .col-md-13,
  .tv-menu .col-md-14,
  .tv-menu .col-md-15,
  .tv-menu .col-md-16,
  .tv-menu .col-md-17,
  .tv-menu .col-md-18,
  .tv-menu .col-md-19,
  .tv-menu .col-md-2,
  .tv-menu .col-md-20,
  .tv-menu .col-md-21,
  .tv-menu .col-md-22,
  .tv-menu .col-md-23,
  .tv-menu .col-md-24,
  .tv-menu .col-md-3,
  .tv-menu .col-md-4,
  .tv-menu .col-md-5,
  .tv-menu .col-md-6,
  .tv-menu .col-md-7,
  .tv-menu .col-md-8,
  .tv-menu .col-md-9 {
    float: left;
  }
  .tv-menu .col-md-24 {
    width: 100%;
  }
  .tv-menu .col-md-23 {
    width: 95.83333333%;
  }
  .tv-menu .col-md-22 {
    width: 91.66666667%;
  }
  .tv-menu .col-md-21 {
    width: 87.5%;
  }
  .tv-menu .col-md-20 {
    width: 83.33333333%;
  }
  .tv-menu .col-md-19 {
    width: 79.16666667%;
  }
  .tv-menu .col-md-18 {
    width: 75%;
  }
  .tv-menu .col-md-17 {
    width: 70.83333333%;
  }
  .tv-menu .col-md-16 {
    width: 66.66666667%;
  }
  .tv-menu .col-md-15 {
    width: 62.5%;
  }
  .tv-menu .col-md-14 {
    width: 58.33333333%;
  }
  .tv-menu .col-md-13 {
    width: 54.16666667%;
  }
  .tv-menu .col-md-12 {
    width: 50%;
  }
  .tv-menu .col-md-11 {
    width: 45.83333333%;
  }
  .tv-menu .col-md-10 {
    width: 41.66666667%;
  }
  .tv-menu .col-md-9 {
    width: 37.5%;
  }
  .tv-menu .col-md-8 {
    width: 33.33333333%;
  }
  .tv-menu .col-md-7 {
    width: 29.16666667%;
  }
  .tv-menu .col-md-6 {
    width: 25%;
  }
  .tv-menu .col-md-5 {
    width: 20.83333333%;
  }
  .tv-menu .col-md-4 {
    width: 16.66666667%;
  }
  .tv-menu .col-md-3 {
    width: 12.5%;
  }
  .tv-menu .col-md-2 {
    width: 8.33333333%;
  }
  .tv-menu .col-md-1 {
    width: 4.16666667%;
  }
  .tv-menu .col-md-pull-24 {
    right: 100%;
  }
  .tv-menu .col-md-pull-23 {
    right: 95.83333333%;
  }
  .tv-menu .col-md-pull-22 {
    right: 91.66666667%;
  }
  .tv-menu .col-md-pull-21 {
    right: 87.5%;
  }
  .tv-menu .col-md-pull-20 {
    right: 83.33333333%;
  }
  .tv-menu .col-md-pull-19 {
    right: 79.16666667%;
  }
  .tv-menu .col-md-pull-18 {
    right: 75%;
  }
  .tv-menu .col-md-pull-17 {
    right: 70.83333333%;
  }
  .tv-menu .col-md-pull-16 {
    right: 66.66666667%;
  }
  .tv-menu .col-md-pull-15 {
    right: 62.5%;
  }
  .tv-menu .col-md-pull-14 {
    right: 58.33333333%;
  }
  .tv-menu .col-md-pull-13 {
    right: 54.16666667%;
  }
  .tv-menu .col-md-pull-12 {
    right: 50%;
  }
  .tv-menu .col-md-pull-11 {
    right: 45.83333333%;
  }
  .tv-menu .col-md-pull-10 {
    right: 41.66666667%;
  }
  .tv-menu .col-md-pull-9 {
    right: 37.5%;
  }
  .tv-menu .col-md-pull-8 {
    right: 33.33333333%;
  }
  .tv-menu .col-md-pull-7 {
    right: 29.16666667%;
  }
  .tv-menu .col-md-pull-6 {
    right: 25%;
  }
  .tv-menu .col-md-pull-5 {
    right: 20.83333333%;
  }
  .tv-menu .col-md-pull-4 {
    right: 16.66666667%;
  }
  .tv-menu .col-md-pull-3 {
    right: 12.5%;
  }
  .tv-menu .col-md-pull-2 {
    right: 8.33333333%;
  }
  .tv-menu .col-md-pull-1 {
    right: 4.16666667%;
  }
  .tv-menu .col-md-pull-0 {
    right: auto;
  }
  .tv-menu .col-md-push-24 {
    left: 100%;
  }
  .tv-menu .col-md-push-23 {
    left: 95.83333333%;
  }
  .tv-menu .col-md-push-22 {
    left: 91.66666667%;
  }
  .tv-menu .col-md-push-21 {
    left: 87.5%;
  }
  .tv-menu .col-md-push-20 {
    left: 83.33333333%;
  }
  .tv-menu .col-md-push-19 {
    left: 79.16666667%;
  }
  .tv-menu .col-md-push-18 {
    left: 75%;
  }
  .tv-menu .col-md-push-17 {
    left: 70.83333333%;
  }
  .tv-menu .col-md-push-16 {
    left: 66.66666667%;
  }
  .tv-menu .col-md-push-15 {
    left: 62.5%;
  }
  .tv-menu .col-md-push-14 {
    left: 58.33333333%;
  }
  .tv-menu .col-md-push-13 {
    left: 54.16666667%;
  }
  .tv-menu .col-md-push-12 {
    left: 50%;
  }
  .tv-menu .col-md-push-11 {
    left: 45.83333333%;
  }
  .tv-menu .col-md-push-10 {
    left: 41.66666667%;
  }
  .tv-menu .col-md-push-9 {
    left: 37.5%;
  }
  .tv-menu .col-md-push-8 {
    left: 33.33333333%;
  }
  .tv-menu .col-md-push-7 {
    left: 29.16666667%;
  }
  .tv-menu .col-md-push-6 {
    left: 25%;
  }
  .tv-menu .col-md-push-5 {
    left: 20.83333333%;
  }
  .tv-menu .col-md-push-4 {
    left: 16.66666667%;
  }
  .tv-menu .col-md-push-3 {
    left: 12.5%;
  }
  .tv-menu .col-md-push-2 {
    left: 8.33333333%;
  }
  .tv-menu .col-md-push-1 {
    left: 4.16666667%;
  }
  .tv-menu .col-md-push-0 {
    left: auto;
  }
  .tv-menu .col-md-offset-24 {
    margin-left: 100%;
  }
  .tv-menu .col-md-offset-23 {
    margin-left: 95.83333333%;
  }
  .tv-menu .col-md-offset-22 {
    margin-left: 91.66666667%;
  }
  .tv-menu .col-md-offset-21 {
    margin-left: 87.5%;
  }
  .tv-menu .col-md-offset-20 {
    margin-left: 83.33333333%;
  }
  .tv-menu .col-md-offset-19 {
    margin-left: 79.16666667%;
  }
  .tv-menu .col-md-offset-18 {
    margin-left: 75%;
  }
  .tv-menu .col-md-offset-17 {
    margin-left: 70.83333333%;
  }
  .tv-menu .col-md-offset-16 {
    margin-left: 66.66666667%;
  }
  .tv-menu .col-md-offset-15 {
    margin-left: 62.5%;
  }
  .tv-menu .col-md-offset-14 {
    margin-left: 58.33333333%;
  }
  .tv-menu .col-md-offset-13 {
    margin-left: 54.16666667%;
  }
  .tv-menu .col-md-offset-12 {
    margin-left: 50%;
  }
  .tv-menu .col-md-offset-11 {
    margin-left: 45.83333333%;
  }
  .tv-menu .col-md-offset-10 {
    margin-left: 41.66666667%;
  }
  .tv-menu .col-md-offset-9 {
    margin-left: 37.5%;
  }
  .tv-menu .col-md-offset-8 {
    margin-left: 33.33333333%;
  }
  .tv-menu .col-md-offset-7 {
    margin-left: 29.16666667%;
  }
  .tv-menu .col-md-offset-6 {
    margin-left: 25%;
  }
  .tv-menu .col-md-offset-5 {
    margin-left: 20.83333333%;
  }
  .tv-menu .col-md-offset-4 {
    margin-left: 16.66666667%;
  }
  .tv-menu .col-md-offset-3 {
    margin-left: 12.5%;
  }
  .tv-menu .col-md-offset-2 {
    margin-left: 8.33333333%;
  }
  .tv-menu .col-md-offset-1 {
    margin-left: 4.16666667%;
  }
  .tv-menu .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .tv-menu .col-lg-1,
  .tv-menu .col-lg-10,
  .tv-menu .col-lg-11,
  .tv-menu .col-lg-12,
  .tv-menu .col-lg-13,
  .tv-menu .col-lg-14,
  .tv-menu .col-lg-15,
  .tv-menu .col-lg-16,
  .tv-menu .col-lg-17,
  .tv-menu .col-lg-18,
  .tv-menu .col-lg-19,
  .tv-menu .col-lg-2,
  .tv-menu .col-lg-20,
  .tv-menu .col-lg-21,
  .tv-menu .col-lg-22,
  .tv-menu .col-lg-23,
  .tv-menu .col-lg-24,
  .tv-menu .col-lg-3,
  .tv-menu .col-lg-4,
  .tv-menu .col-lg-5,
  .tv-menu .col-lg-6,
  .tv-menu .col-lg-7,
  .tv-menu .col-lg-8,
  .tv-menu .col-lg-9 {
    float: left;
  }
  .tv-menu .col-lg-24 {
    width: 100%;
  }
  .tv-menu .col-lg-23 {
    width: 95.83333333%;
  }
  .tv-menu .col-lg-22 {
    width: 91.66666667%;
  }
  .tv-menu .col-lg-21 {
    width: 87.5%;
  }
  .tv-menu .col-lg-20 {
    width: 83.33333333%;
  }
  .tv-menu .col-lg-19 {
    width: 79.16666667%;
  }
  .tv-menu .col-lg-18 {
    width: 75%;
  }
  .tv-menu .col-lg-17 {
    width: 70.83333333%;
  }
  .tv-menu .col-lg-16 {
    width: 66.66666667%;
  }
  .tv-menu .col-lg-15 {
    width: 62.5%;
  }
  .tv-menu .col-lg-14 {
    width: 58.33333333%;
  }
  .tv-menu .col-lg-13 {
    width: 54.16666667%;
  }
  .tv-menu .col-lg-12 {
    width: 50%;
  }
  .tv-menu .col-lg-11 {
    width: 45.83333333%;
  }
  .tv-menu .col-lg-10 {
    width: 41.66666667%;
  }
  .tv-menu .col-lg-9 {
    width: 37.5%;
  }
  .tv-menu .col-lg-8 {
    width: 33.33333333%;
  }
  .tv-menu .col-lg-7 {
    width: 29.16666667%;
  }
  .tv-menu .col-lg-6 {
    width: 25%;
  }
  .tv-menu .col-lg-5 {
    width: 20.83333333%;
  }
  .tv-menu .col-lg-4 {
    width: 16.66666667%;
  }
  .tv-menu .col-lg-3 {
    width: 12.5%;
  }
  .tv-menu .col-lg-2 {
    width: 8.33333333%;
  }
  .tv-menu .col-lg-1 {
    width: 4.16666667%;
  }
  .tv-menu .col-lg-pull-24 {
    right: 100%;
  }
  .tv-menu .col-lg-pull-23 {
    right: 95.83333333%;
  }
  .tv-menu .col-lg-pull-22 {
    right: 91.66666667%;
  }
  .tv-menu .col-lg-pull-21 {
    right: 87.5%;
  }
  .tv-menu .col-lg-pull-20 {
    right: 83.33333333%;
  }
  .tv-menu .col-lg-pull-19 {
    right: 79.16666667%;
  }
  .tv-menu .col-lg-pull-18 {
    right: 75%;
  }
  .tv-menu .col-lg-pull-17 {
    right: 70.83333333%;
  }
  .tv-menu .col-lg-pull-16 {
    right: 66.66666667%;
  }
  .tv-menu .col-lg-pull-15 {
    right: 62.5%;
  }
  .tv-menu .col-lg-pull-14 {
    right: 58.33333333%;
  }
  .tv-menu .col-lg-pull-13 {
    right: 54.16666667%;
  }
  .tv-menu .col-lg-pull-12 {
    right: 50%;
  }
  .tv-menu .col-lg-pull-11 {
    right: 45.83333333%;
  }
  .tv-menu .col-lg-pull-10 {
    right: 41.66666667%;
  }
  .tv-menu .col-lg-pull-9 {
    right: 37.5%;
  }
  .tv-menu .col-lg-pull-8 {
    right: 33.33333333%;
  }
  .tv-menu .col-lg-pull-7 {
    right: 29.16666667%;
  }
  .tv-menu .col-lg-pull-6 {
    right: 25%;
  }
  .tv-menu .col-lg-pull-5 {
    right: 20.83333333%;
  }
  .tv-menu .col-lg-pull-4 {
    right: 16.66666667%;
  }
  .tv-menu .col-lg-pull-3 {
    right: 12.5%;
  }
  .tv-menu .col-lg-pull-2 {
    right: 8.33333333%;
  }
  .tv-menu .col-lg-pull-1 {
    right: 4.16666667%;
  }
  .tv-menu .col-lg-pull-0 {
    right: auto;
  }
  .tv-menu .col-lg-push-24 {
    left: 100%;
  }
  .tv-menu .col-lg-push-23 {
    left: 95.83333333%;
  }
  .tv-menu .col-lg-push-22 {
    left: 91.66666667%;
  }
  .tv-menu .col-lg-push-21 {
    left: 87.5%;
  }
  .tv-menu .col-lg-push-20 {
    left: 83.33333333%;
  }
  .tv-menu .col-lg-push-19 {
    left: 79.16666667%;
  }
  .tv-menu .col-lg-push-18 {
    left: 75%;
  }
  .tv-menu .col-lg-push-17 {
    left: 70.83333333%;
  }
  .tv-menu .col-lg-push-16 {
    left: 66.66666667%;
  }
  .tv-menu .col-lg-push-15 {
    left: 62.5%;
  }
  .tv-menu .col-lg-push-14 {
    left: 58.33333333%;
  }
  .tv-menu .col-lg-push-13 {
    left: 54.16666667%;
  }
  .tv-menu .col-lg-push-12 {
    left: 50%;
  }
  .tv-menu .col-lg-push-11 {
    left: 45.83333333%;
  }
  .tv-menu .col-lg-push-10 {
    left: 41.66666667%;
  }
  .tv-menu .col-lg-push-9 {
    left: 37.5%;
  }
  .tv-menu .col-lg-push-8 {
    left: 33.33333333%;
  }
  .tv-menu .col-lg-push-7 {
    left: 29.16666667%;
  }
  .tv-menu .col-lg-push-6 {
    left: 25%;
  }
  .tv-menu .col-lg-push-5 {
    left: 20.83333333%;
  }
  .tv-menu .col-lg-push-4 {
    left: 16.66666667%;
  }
  .tv-menu .col-lg-push-3 {
    left: 12.5%;
  }
  .tv-menu .col-lg-push-2 {
    left: 8.33333333%;
  }
  .tv-menu .col-lg-push-1 {
    left: 4.16666667%;
  }
  .tv-menu .col-lg-push-0 {
    left: auto;
  }
  .tv-menu .col-lg-offset-24 {
    margin-left: 100%;
  }
  .tv-menu .col-lg-offset-23 {
    margin-left: 95.83333333%;
  }
  .tv-menu .col-lg-offset-22 {
    margin-left: 91.66666667%;
  }
  .tv-menu .col-lg-offset-21 {
    margin-left: 87.5%;
  }
  .tv-menu .col-lg-offset-20 {
    margin-left: 83.33333333%;
  }
  .tv-menu .col-lg-offset-19 {
    margin-left: 79.16666667%;
  }
  .tv-menu .col-lg-offset-18 {
    margin-left: 75%;
  }
  .tv-menu .col-lg-offset-17 {
    margin-left: 70.83333333%;
  }
  .tv-menu .col-lg-offset-16 {
    margin-left: 66.66666667%;
  }
  .tv-menu .col-lg-offset-15 {
    margin-left: 62.5%;
  }
  .tv-menu .col-lg-offset-14 {
    margin-left: 58.33333333%;
  }
  .tv-menu .col-lg-offset-13 {
    margin-left: 54.16666667%;
  }
  .tv-menu .col-lg-offset-12 {
    margin-left: 50%;
  }
  .tv-menu .col-lg-offset-11 {
    margin-left: 45.83333333%;
  }
  .tv-menu .col-lg-offset-10 {
    margin-left: 41.66666667%;
  }
  .tv-menu .col-lg-offset-9 {
    margin-left: 37.5%;
  }
  .tv-menu .col-lg-offset-8 {
    margin-left: 33.33333333%;
  }
  .tv-menu .col-lg-offset-7 {
    margin-left: 29.16666667%;
  }
  .tv-menu .col-lg-offset-6 {
    margin-left: 25%;
  }
  .tv-menu .col-lg-offset-5 {
    margin-left: 20.83333333%;
  }
  .tv-menu .col-lg-offset-4 {
    margin-left: 16.66666667%;
  }
  .tv-menu .col-lg-offset-3 {
    margin-left: 12.5%;
  }
  .tv-menu .col-lg-offset-2 {
    margin-left: 8.33333333%;
  }
  .tv-menu .col-lg-offset-1 {
    margin-left: 4.16666667%;
  }
  .tv-menu .col-lg-offset-0 {
    margin-left: 0;
  }
}
.tv-menu .btn-group-vertical > .btn-group:after,
.tv-menu .btn-group-vertical > .btn-group:before,
.tv-menu .btn-toolbar:after,
.tv-menu .btn-toolbar:before,
.tv-menu .clearfix:after,
.tv-menu .clearfix:before,
.tv-menu .container-fluid:after,
.tv-menu .container-fluid:before,
.tv-menu .container:after,
.tv-menu .container:before,
.tv-menu .dl-horizontal dd:after,
.tv-menu .dl-horizontal dd:before,
.tv-menu .form-horizontal .form-group:after,
.tv-menu .form-horizontal .form-group:before,
.tv-menu .modal-footer:after,
.tv-menu .modal-footer:before,
.tv-menu .modal-header:after,
.tv-menu .modal-header:before,
.tv-menu .nav:after,
.tv-menu .nav:before,
.tv-menu .navbar-collapse:after,
.tv-menu .navbar-collapse:before,
.tv-menu .navbar-header:after,
.tv-menu .navbar-header:before,
.tv-menu .navbar:after,
.tv-menu .navbar:before,
.tv-menu .pager:after,
.tv-menu .pager:before,
.tv-menu .panel-body:after,
.tv-menu .panel-body:before,
.tv-menu .row:after,
.tv-menu .row:before {
  content: " ";
  display: table;
}
.tv-menu .btn-group-vertical > .btn-group:after,
.tv-menu .btn-toolbar:after,
.tv-menu .clearfix:after,
.tv-menu .container-fluid:after,
.tv-menu .container:after,
.tv-menu .dl-horizontal dd:after,
.tv-menu .form-horizontal .form-group:after,
.tv-menu .modal-footer:after,
.tv-menu .modal-header:after,
.tv-menu .nav:after,
.tv-menu .navbar-collapse:after,
.tv-menu .navbar-header:after,
.tv-menu .navbar:after,
.tv-menu .pager:after,
.tv-menu .panel-body:after,
.tv-menu .row:after {
  clear: both;
}
.tv-menu .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tv-menu .pull-right {
  float: right !important;
}
.tv-menu .pull-left {
  float: left !important;
}
.tv-menu .hide {
  display: none !important;
}
.tv-menu .show {
  display: block !important;
}
.tv-menu .hidden,
.tv-menu .visible-lg,
.tv-menu .visible-lg-block,
.tv-menu .visible-lg-inline,
.tv-menu .visible-lg-inline-block,
.tv-menu .visible-md,
.tv-menu .visible-md-block,
.tv-menu .visible-md-inline,
.tv-menu .visible-md-inline-block,
.tv-menu .visible-sm,
.tv-menu .visible-sm-block,
.tv-menu .visible-sm-inline,
.tv-menu .visible-sm-inline-block,
.tv-menu .visible-xs,
.tv-menu .visible-xs-block,
.tv-menu .visible-xs-inline,
.tv-menu .visible-xs-inline-block {
  display: none !important;
}
.tv-menu .invisible {
  visibility: hidden;
}
.tv-menu .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.tv-menu .affix {
  position: fixed;
}
.tv-menu .space-s{
	margin-bottom:10px;
}
.tv-menu .space-top{
	margin-top:20px;
}
.tv-menu .text-uppercase{
	text-transform:uppercase;
}

.tv-menu .line-left{
	padding-left:20px;
	border-left:1px solid #ccc;
}

.tv-menu .line-right{
	padding-right:20px;
	border-right:1px solid #ccc;
}

.tv-menu hr{
	border-top: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}
.tv-menu .text-center{text-align:center;}
.tv-menu .group-title-bottom{margin-bottom:20px;}
.tv-menu .groupmenu-drop li.parent{position:relative;}
.tv-menu .block.widget .products-grid .product-item{
	width:100%!important;
	margin:0;
	border:none;
	text-align:center;
}
.tv-menu .block.widget .products-grid .product-item .product-item-info{
	border:none;
	box-shadow:none;
	margin:0;
	padding:0;
}
.tv-menu .block.widget .products-grid .product-item .product-item-info .actions-primary{
	display:inline;
}
.tv-menu .block.widget .products-grid .product-item .product-item-info .actions-primary + .actions-secondary{
	display:inline;
	width:auto;
}

@media (max-width: 767px) {
  .tv-menu .visible-xs {
    display: block !important;
  }
  .tv-menu table.visible-xs {
    display: table !important;
  }
  .tv-menu tr.visible-xs {
    display: table-row !important;
  }
  .tv-menu td.visible-xs,
  .tv-menu th.visible-xs {
    display: table-cell !important;
  }
  .tv-menu .visible-xs-block {
    display: block !important;
  }
  .tv-menu .visible-xs-inline {
    display: inline !important;
  }
  .tv-menu .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .tv-menu .visible-sm {
    display: block !important;
  }
  .tv-menu table.visible-sm {
    display: table !important;
  }
  .tv-menu tr.visible-sm {
    display: table-row !important;
  }
  .tv-menu td.visible-sm,
  .tv-menu th.visible-sm {
    display: table-cell !important;
  }
  .tv-menu .visible-sm-block {
    display: block !important;
  }
  .tv-menu .visible-sm-inline {
    display: inline !important;
  }
  .tv-menu .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .tv-menu .visible-md {
    display: block !important;
  }
  .tv-menu table.visible-md {
    display: table !important;
  }
  .tv-menu tr.visible-md {
    display: table-row !important;
  }
  .tv-menu td.visible-md,
  .tv-menu th.visible-md {
    display: table-cell !important;
  }
  .tv-menu .visible-md-block {
    display: block !important;
  }
  .tv-menu .visible-md-inline {
    display: inline !important;
  }
  .tv-menu .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .tv-menu .visible-lg {
    display: block !important;
  }
  .tv-menu table.visible-lg {
    display: table !important;
  }
  .tv-menu tr.visible-lg {
    display: table-row !important;
  }
  .tv-menu td.visible-lg,
  .tv-menu th.visible-lg {
    display: table-cell !important;
  }
  .tv-menu .visible-lg-block {
    display: block !important;
  }
  .tv-menu .visible-lg-inline {
    display: inline !important;
  }
  .tv-menu .visible-lg-inline-block {
    display: inline-block !important;
  }
  .tv-menu .hidden-lg {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .tv-menu .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .tv-menu .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .tv-menu .hidden-md {
    display: none !important;
  }
}
.tv-menu .visible-print {
  display: none !important;
}
@media print {
  .tv-menu .visible-print {
    display: block !important;
  }
  .tv-menu table.visible-print {
    display: table !important;
  }
  .tv-menu tr.visible-print {
    display: table-row !important;
  }
  .tv-menu td.visible-print,
  .tv-menu th.visible-print {
    display: table-cell !important;
  }
}
.tv-menu .visible-print-block {
  display: none !important;
}
@media print {
  .tv-menu .visible-print-block {
    display: block !important;
  }
}
.tv-menu .visible-print-inline {
  display: none !important;
}
@media print {
  .tv-menu .visible-print-inline {
    display: inline !important;
  }
}
.tv-menu .visible-print-inline-block {
  display: none !important;
}
@media print {
  .tv-menu .visible-print-inline-block {
    display: inline-block !important;
  }
  .tv-menu .hidden-print {
    display: none !important;
  }
}
.tv-menu ul,
.tv-menu ol {
  padding: 0;
  list-style: none;
}
.tv-menu a,
.tv-menu a:hover {
  text-decoration: none;
}
.tv-menu .cat-tree a.groupdrop-title {
  font-weight: normal;
}
.tv-menu p.groupdrop-title,
.tv-menu .cat-tree.no-dropdown a.groupdrop-title {
  font-weight: bold;
}
.tv-menu ul > li,
.tv-menu ol > li {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.tv-menu .groupmenu-drop li.parent{position:relative;}
.tv-menu i.menu-icon.img-icon {
    display: inline-block;
    margin-right: 5px;
  }
  .tv-menu i.menu-icon.img-icon img {
    max-width: 18px;
  }
@media (min-width: 768px) {
  
  .tv-menu .groupmenu-drop,
  .tv-menu .groupmenu-drop-content {
    display: block;
  }
  .tv-menu img.groupdrop-banner-pos {
    position: absolute;
  }
  .tv-menu ul.groupdrop-link,
  .tv-menu ul.groupmenu-drop,
  .tv-menu ul.groupmenu-nondrop {
    padding-left: 0;
  }
  .tv-menu .dropdown-rtl{
	text-align:right;
  }			
  .tv-menu .dropdown-rtl li.item.parent > .menu-link:before{
		float: left;
		content: "\f104";
	}
  .tv-menu .dropdown-rtl li.item.parent .groupmenu-drop{
		left: auto; 
		right: 100%;
		text-align:right;
	}
	/*menu full width*/
	.tv-menu .dropdown-fullwidthn.groupmenu-drop{
			border:none;
	}
	/*end menu full width*/
	/*tab menu*/
	.tv-menu .tv-vertical-tabs .tv-tabs .tv-nav-tabs .tv-tab-link{
		display:block;
		padding:10px 5px;
	}
	.tv-menu .tv-horizontal-tabs .tv-vertical-tabs .tv-tabs .tv-nav-tabs .tv-tab-link{
		display:block;
		padding:10px 5px;
		text-align:left;
	}
	.tv-menu .tv-vertical-tabs .tv-tabs .tv-nav-tabs .tv-tab-link:after{
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		content:"\f105";
		float:right;
		margin-top: 3px;
	}
	.tv-menu .tv-vertical-tabs .tv-tabs .tv-nav-tabs .tv-tab-link.active{
		background:#ececec;
	}
	.tv-menu .tv-vertical-tabs .tv-tabs .tv-tab-content .tv-tab-pane{
		display:none;
	}
	.tv-menu .tv-vertical-tabs .tv-tabs .tv-tab-content .tv-tab-pane.active{display:block;}
	.tv-menu .tv-horizontal-tabs .tv-tabs .tv-nav-tabs{
		text-align:center;
		display:block;
		margin-bottom:15px;
	}
	.tv-menu .tv-horizontal-tabs .tv-tabs .tv-nav-tabs .tv-tab-link{
		display:inline-block;
		margin:3px 20px;
		padding-bottom:7px;
		position:relative;
	}
	.tv-menu .tv-horizontal-tabs .tv-tabs .tv-nav-tabs .tv-tab-link:before{
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		height:2px;
		background:#dfdfdf;
		transform: scaleX(0);  
		transition: transform 250ms ease-in-out;
		content:"";
	}
	.tv-menu .tv-horizontal-tabs .tv-tabs .tv-nav-tabs .tv-tab-link.active:before{
		transform: scaleX(1); 
	}							
	.tv-menu .tv-horizontal-tabs .tv-tabs .tv-tab-content .tv-tab-pane{
		display:none;
	}
	.tv-menu .tv-horizontal-tabs .tv-tabs .tv-tab-content .tv-tab-pane.active{display:block;}

	/*end tab menu*/
  
  .tv-menu .groupmenu-drop {
    position: absolute;
    background: #ffffff;
    top: 100%;
    z-index: 99;
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
  }
  .tv-menu .groupmenu-drop .groupmenu-drop {
    top: -7px;
    left: 100%;
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
    -moz-transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
    transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
  }
  .tv-menu .groupmenu-drop .cat-tree.groupmenu-drop .groupmenu-drop{top: -7px;}
  .tv-menu .groupmenu-drop .item.parent > .menu-link {
    display: block;
  }
  .tv-menu .groupmenu-drop .item.parent > .menu-link:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
    float: right;
    margin-top: 3px;
  }
  .tv-menu .groupmenu-drop .item.parent.cat-tree:not(.no-dropdown) > a {
    display: block;
  }
  .tv-menu .groupmenu-drop .item.parent.cat-tree:not(.no-dropdown) > a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
    float: right;
    margin-top: 3px;
  }
  .tv-menu .groupmenu-drop li.item:hover > .groupmenu-drop {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    visibility: inherit;
  }
  .tv-menu .groupmenu-drop > li.item,
  .tv-menu .cat-tree li.item {
    min-width: 230px;
    position: relative;
    padding: 6px 10px;
    //margin: 0px auto;
  }
  /*menu horizontal*/
  .tv-horizontal-menu {
    width: 100%;
  }
  .tv-horizontal-menu li.level0 > .groupmenu-drop {
    display: none;
  }
  .tv-horizontal-menu.tv-translate li.level0 > .groupmenu-drop {
    top: 45px;
    left: 0;
    display: block;
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
    -moz-transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
    transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
  }
  .tv-horizontal-menu.tv-translate li.level0:hover > .groupmenu-drop {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    visibility: inherit;
  }
  .tv-horizontal-menu .groupmenu {
    width: 100%;
    display: inline-block;
    padding: 0;
	background-color: #f0f0f0;
  }
  .tv-horizontal-menu .groupmenu li.level0 > a.menu-link {
    text-transform: uppercase;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 12px 20px;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    text-decoration: none;
    color: #333333;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    font: 500 12px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;
    cursor: pointer;
    line-height: 22px;
  }
  
  .tv-horizontal-menu .groupmenu li.item {
    list-style: none;
  }
  .tv-horizontal-menu .groupmenu li.item.level0 {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: left;
  }
  .tv-horizontal-menu .groupmenu .groupmenu-nondrop {
    position: relative;
  }
  .tv-horizontal-menu .groupmenu .groupmenu-nondrop > li.item {
    margin: 0px 0px;
    padding-left: 0px;
  }
  .tv-horizontal-menu .groupmenu .no-dropdown > .cat-tree.groupmenu-drop {
    top: auto;
    left: auto;
  }
  .tv-horizontal-menu .groupmenu .no-dropdown > .groupdrop-title {
    margin-bottom: 10px;
    display: inline-block;
  }
  .tv-horizontal-menu .groupmenu ul.groupmenu-drop li.no-dropdown > .cat-tree.groupmenu-drop .groupmenu-drop {
    visibility: hidden;
    height: 0;
    position: absolute;
    opacity: 0;
    background: #fff;
    border: 1px solid #ccc;
    height: auto;
  }
  .tv-horizontal-menu .groupmenu ul.groupmenu-drop li.no-dropdown > .cat-tree.groupmenu-drop .parent:hover > .groupmenu-drop {
    visibility: visible;
    height: auto;
    opacity: 1;
  }
  .tv-horizontal-menu .groupmenu ul.groupmenu-drop li.no-dropdown {
    display: block;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  /*menu vertical*/
  .tv-vertical-menu .groupmenu-drop {
    top: -1px;
    left: 100%;
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
    -moz-transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
    transition: opacity .4s ease, transform .4s ease, visibility .4s linear 0s;
	display:none;
  }
  .tv-vertical-menu li.item:hover > .groupmenu-drop {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    visibility: inherit;
	display:block;
  }
  .tv-vertical-menu .item.level0 {
    display: block;
    padding: 0px;
    border: 1px solid #dfdfdf;
    position: relative;
    margin-bottom: -1px;
  }
  .tv-vertical-menu .item.level0 > a.menu-link {
    display: block;
  }
  .tv-horizontal-menu .groupmenu li.level0 > a.menu-link .menu-icon {
    margin-right: 10px;
  }
  .tv-vertical-menu .item.level0 > a.menu-link .menu-icon {
    min-width: 37px;
    text-align: center;
    padding-left: 4px;
    margin: 0;
  }
  .tv-vertical-menu .item.level0 > a.menu-link span {
    display: inline-block;
    padding: 10px;
  }
  .tv-vertical-menu .item.level0 > a.menu-link .menu-icon + span {
	  border-left: 1px solid #dfdfdf;
  }
  .tv-vertical-menu .item.level0.parent > a.menu-link:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
    float: right;
    margin-top: 8px;
    margin-right: 10px;
  }
}
/*resize menu vertical*/
.tv-vertical-menu .item.level0 > a.menu-link .menu-icon + span {
  max-width: calc(100% - 70px);
}
@media (max-width: 1200px) and (min-width: 991px) {
  .tv-vertical-menu .item.level0 > a.menu-link .menu-icon {
    /* display:none;  */
    /* + span{ */
    /* border:none; */
    /* } */
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .tv-vertical-menu .item.level0 > a.menu-link {
    font-size: 11px;
  }
  .tv-vertical-menu .item.level0 > a.menu-link .menu-icon {}
}
@media (max-width: 860px) and (min-width: 768px) {
  .tv-vertical-menu .item.level0 > a.menu-link .menu-icon {display: none;}
  .tv-vertical-menu .item.level0 > a.menu-link .menu-icon + span {border: none; max-width: calc(100% - 35px);}
}
.tv-vertical-menu .item.level0 > a.menu-link span span {white-space: nowrap;text-overflow: ellipsis;padding: 0 0;max-width: 100%;overflow-x: hidden;}
/*end resize menu vertical*/
@media (max-width: 768px) {
  .tv-menu .row {margin: 0 -10px;}
  .tv-menu .groupdrop-banner {margin-bottom: 20px;}
  .tv-menu li.item {margin-bottom: 0px;}
  .tv-menu li.item.open > .dropdown-toggle:before {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
	.tv-menu .menu-tabs{
		margin:0;
	}
	.tv-menu .menu-tabs .tab-item{
		margin:0;
	}
	.tv-menu .menu-tabs .tv-tab-pane{margin-top:10px;}
	.tv-menu .menu-tabs .tv-link-wrap{
		position:relative;
		padding: 4px 0;
	}
  .tv-menu .groupmenu-drop {
    display: none;
  }
  .tv-menu .groupmenu-drop li.item {
    padding: 5px 0;
  }
  .tv-menu .groupmenu-drop li.item.parent .groupmenu-drop {
    padding-left: 20px;
    padding-top: 5px;
  }
  .tv-menu .menu-link,
  .tv-menu a.groupdrop-title {
    width: 100%;
    display: inline-block;
  }
  .tv-menu .item.level-top {
    display: block;
    background: #fff;
    position: relative;
    margin-bottom: 5px;
  }
  .tv-menu .item.level-top > .menu-link {
    padding: 10px 5px;
    background: #333333;
    color: #ffffff;
  }
  .tv-menu .item.level-top > .menu-link .fa {
    margin: 0 5px;
  }
  .tv-menu .item.level-top > .dropdown-toggle {
    width: 40px;
    height: 40px;
    background: #1a1a1a;
    color: #ffffff;
  }
  .tv-menu .item.level-top > .dropdown-toggle:before {
    margin-top: 7px;
  }
  .tv-menu .item.level-top > .groupmenu-drop {
	margin:0px 0 20px;
	border: 1px solid #dcdcdc;
	padding: 10px;
	margin-bottom: 20px;
  }
  .tv-menu .parent {
    position: relative;
  }
  .tv-menu .dropdown-toggle {
    display: block;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  .tv-menu .dropdown-toggle:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f107";
    text-align: center;
    width: 100%;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
/*column menu*/
@media (min-width: 768px) {
  .tv-menu .groupmenu-width-1 {
    width: 30.83333333px;
  }
  .tv-menu .groupmenu-width-2 {
    width: 61.66666667px;
  }
  .tv-menu .groupmenu-width-3 {
    width: 92.5px;
  }
  .tv-menu .groupmenu-width-4 {
    width: 123.33333333px;
  }
  .tv-menu .groupmenu-width-5 {
    width: 154.16666667px;
  }
  .tv-menu .groupmenu-width-6 {
    width: 185px;
  }
  .tv-menu .groupmenu-width-7 {
    width: 215.83333333px;
  }
  .tv-menu .groupmenu-width-8 {
    width: 246.66666667px;
  }
  .tv-menu .groupmenu-width-9 {
    width: 277.5px;
  }
  .tv-menu .groupmenu-width-10 {
    width: 308.33333333px;
  }
  .tv-menu .groupmenu-width-11 {
    width: 339.16666667px;
  }
  .tv-menu .groupmenu-width-12 {
    width: 370px;
  }
  .tv-menu .groupmenu-width-13 {
    width: 400.83333333px;
  }
  .tv-menu .groupmenu-width-14 {
    width: 431.66666667px;
  }
  .tv-menu .groupmenu-width-15 {
    width: 462.5px;
  }
  .tv-menu .groupmenu-width-16 {
    width: 493.33333333px;
  }
  .tv-menu .groupmenu-width-17 {
    width: 524.16666667px;
  }
  .tv-menu .groupmenu-width-18 {
    width: 555px;
  }
  .tv-menu .groupmenu-width-19 {
    width: 585.83333333px;
  }
  .tv-menu .groupmenu-width-20 {
    width: 616.66666667px;
  }
  .tv-menu .groupmenu-width-21 {
    width: 647.5px;
  }
  .tv-menu .groupmenu-width-22 {
    width: 678.33333333px;
  }
  .tv-menu .groupmenu-width-23 {
    width: 709.16666667px;
  }
  .tv-menu .groupmenu-width-24 {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .tv-menu .groupmenu-width-1 {
    width: 40px;
  }
  .tv-menu .groupmenu-width-2 {
    width: 80px;
  }
  .tv-menu .groupmenu-width-3 {
    width: 120px;
  }
  .tv-menu .groupmenu-width-4 {
    width: 160px;
  }
  .tv-menu .groupmenu-width-5 {
    width: 200px;
  }
  .tv-menu .groupmenu-width-6 {
    width: 240px;
  }
  .tv-menu .groupmenu-width-7 {
    width: 280px;
  }
  .tv-menu .groupmenu-width-8 {
    width: 320px;
  }
  .tv-menu .groupmenu-width-9 {
    width: 360px;
  }
  .tv-menu .groupmenu-width-10 {
    width: 400px;
  }
  .tv-menu .groupmenu-width-11 {
    width: 440px;
  }
  .tv-menu .groupmenu-width-12 {
    width: 480px;
  }
  .tv-menu .groupmenu-width-13 {
    width: 520px;
  }
  .tv-menu .groupmenu-width-14 {
    width: 560px;
  }
  .tv-menu .groupmenu-width-15 {
    width: 600px;
  }
  .tv-menu .groupmenu-width-16 {
    width: 640px;
  }
  .tv-menu .groupmenu-width-17 {
    width: 680px;
  }
  .tv-menu .groupmenu-width-18 {
    width: 720px;
  }
  .tv-menu .groupmenu-width-19 {
    width: 760px;
  }
  .tv-menu .groupmenu-width-20 {
    width: 800px;
  }
  .tv-menu .groupmenu-width-21 {
    width: 840px;
  }
  .tv-menu .groupmenu-width-22 {
    width: 880px;
  }
  .tv-menu .groupmenu-width-23 {
    width: 920px;
  }
  .tv-menu .groupmenu-width-24 {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .tv-menu .groupmenu-width-1 {
    width: 50px;
  }
  .tv-menu .groupmenu-width-2 {
    width: 100px;
  }
  .tv-menu .groupmenu-width-3 {
    width: 150px;
  }
  .tv-menu .groupmenu-width-4 {
    width: 200px;
  }
  .tv-menu .groupmenu-width-5 {
    width: 250px;
  }
  .tv-menu .groupmenu-width-6 {
    width: 300px;
  }
  .tv-menu .groupmenu-width-7 {
    width: 350px;
  }
  .tv-menu .groupmenu-width-8 {
    width: 400px;
  }
  .tv-menu .groupmenu-width-9 {
    width: 450px;
  }
  .tv-menu .groupmenu-width-10 {
    width: 500px;
  }
  .tv-menu .groupmenu-width-11 {
    width: 550px;
  }
  .tv-menu .groupmenu-width-12 {
    width: 600px;
  }
  .tv-menu .groupmenu-width-13 {
    width: 650px;
  }
  .tv-menu .groupmenu-width-14 {
    width: 700px;
  }
  .tv-menu .groupmenu-width-15 {
    width: 750px;
  }
  .tv-menu .groupmenu-width-16 {
    width: 800px;
  }
  .tv-menu .groupmenu-width-17 {
    width: 850px;
  }
  .tv-menu .groupmenu-width-18 {
    width: 900px;
  }
  .tv-menu .groupmenu-width-19 {
    width: 950px;
  }
  .tv-menu .groupmenu-width-20 {
    width: 1000px;
  }
  .tv-menu .groupmenu-width-21 {
    width: 1050px;
  }
  .tv-menu .groupmenu-width-22 {
    width: 1100px;
  }
  .tv-menu .groupmenu-width-23 {
    width: 1150px;
  }
  .tv-menu .groupmenu-width-24 {
    width: 1200px;
  }
}
.tv-contact .input-text, .tv-contact textarea {width: 100%;}
.tv-contact .fieldset{border: none;}
.tv-contact .actions-toolbar {padding-left: 15px;}
/*resize vertial menu*/
.tv-vertical-menu .item.level0 > a.menu-link > span {
	max-width: 100%;
}
.tv-vertical-menu .item.level0 > a.menu-link span {
	display: inline-flex;
}
.tv-vertical-menu .item.level0 > a.menu-link .menu-icon + span {
	max-width: calc(100% - 50px);
}
.tv-vertical-menu .item.level0.parent > a.menu-link .menu-icon + span {
	max-width: calc(100% - 80px);
}
.tv-vertical-menu .item.level0.parent > a.menu-link > span {
	max-width: calc(100% - 35px);
}
@media (max-width: 1200px) and (min-width: 991px) {
  .tv-vertical-menu .item.level0 > a.menu-link .menu-icon {}
}
@media (max-width: 992px) and (min-width: 768px) {
  .tv-vertical-menu .item.level0 > a.menu-link {font-size: 11px;}
  .tv-vertical-menu .item.level0 > a.menu-link .menu-icon {}
}
@media (max-width: 860px) and (min-width: 768px) {
  .tv-vertical-menu .item.level0 > a.menu-link .menu-icon {display: none;}
  .tv-vertical-menu .item.level0 > a.menu-link .menu-icon + span {border: none; max-width: calc(100% - 35px); padding-left: 17px !important;}
}
.tv-vertical-menu .item.level0 > a.menu-link span > span {white-space: nowrap;text-overflow: ellipsis;padding: 0 0 !important;max-width: 100%;overflow: hidden; display: block;}
/*end resize menu vertical*/